<%= turbo_stream.prepend "activity-timeline" do %>
  <div class="timeline-item">
    <%= render "events/event", event: @event %>
  </div>
<% end %>

<%= turbo_stream.replace "new_event", partial: "events/form", locals: { job_application: @job_application, event: Event.new } %>
